{% extends 'styled.twig' %}

{% block topPanel %}
    {% embed 'parts/topPanel.twig' %}
    {% endembed %}
{% endblock %}

{% if customElements.showNews %}
    {% set width = 'col-md-8' %}
{% else %}
    {% set width = 'col-md-12' %}
{% endif %}

{% block body %}

    <div class="row">
        <div class="{{ width }}">

        </div>
        {% if customElements.showNews %}
            <div class="col-md-4 newsBlock">

            </div>
        {% endif %}

    </div>

{% endblock %}