{% extends 'styled.twig' %}

{% block topPanel %}
    {% embed 'parts/topPanel.twig' %}
    {% endembed %}
{% endblock %}


{% block body %}

    <div class="row">
        <div class="col-md-8">
            {% embed 'parts/topics.twig' %}
            {% endembed %}
        </div>
        <div class="col-md-4">
            {% embed 'parts/news.twig' %}
            {% endembed %}
        </div>
    </div>

{% endblock %}