<div class="main">
    <article>
        <aside class="rightPanel">
            <div class="serverPanel">
                <div> server name/ip</div>
                <div> map picture (CLICKABLE!)</div>
                <div class="playerScores">
                    <div>player 1 score 5</div>
                    <div>player 2 score 3</div>
                    <div>player 1 score 5</div>
                    <div>player 2 score 3</div>
                </div>
            </div>
        </aside>
        <div class="blogPanel greyOpacity">blog panel</div>
    </article>
</div>