{% if app.user  %}

<div>lk</div>
<div>messages(0)</div>
<div>forum</div>
<div>rank stats</div>
<div>abuse</div>
    {% if user %}
        <div><a href="/admin/">admin module</a></div>
    {% endif %}
{% endif %}