{# important red etc#}
<div class="container-fluid topicGroup">
    <div class="row">
        <div class="text-left col-md-6">
            Important news!
        </div>

        <div class="text-right col-md-offset6 col-md-6">
            <button class="btn btn-success"  type="button">Add new</button>
        </div>
    </div>

    <div class="row">
        <div class="text-left col-md-6">
            <small>created today</small> some topic name by some Author
        </div>

        <div class="text-right col-md-offset6 col-md-6">
            <button class="btn btn-default"  type="button">read more</button>
        </div>
    </div>
    <div class="row">
        <div class="text-left col-md-6">
            <small>created today</small> some topic name by some Author
        </div>

        <div class="text-right col-md-offset6 col-md-6">
            <button class="btn btn-default"  type="button">read more</button>
        </div>
    </div>

    <div class="row">
        <div class="text-left col-md-6">
            <small>created today</small> some topic name by some Author
        </div>

        <div class="text-right col-md-offset6 col-md-6">
            <button class="btn btn-default"  type="button">read more</button>
        </div>
    </div>

</div>