<div class="stickyTop">
    {% if app.user  %}
        {{ app.user.username }}
    {% else %}
        Здравствуйте гость! <a href="/login"><img src="images/sits_small.png" /></a>
    {% endif %}
</div>