<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Djaga.Net</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Главная</a></li>
                {# User panel#}
                {% if user.name %}
                    <li class="dropdown">
                        {% if user.avatar %}
                            <a href="#" class="dropdown-toggle avatarBar" data-toggle="dropdown" role="button"
                               aria-expanded="false">
                                <img src="{{ user.avatar }}" class="img-rounded"
                                     alt="Responsive image"/> {{ user.name }}
                                <span class="caret"></span>
                            </a>
                        {% else %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ user.name }}
                                <span class="caret"></span>
                            </a>
                        {% endif %}
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation" class="dropdown-header">Профиль</li>
                            <li><a href="/user/refresh">Обновить профиль</a></li>
                            <li><a href="#">Посмотреть статистику (в разработке)</a></li>
                            <li><a href="#">Запомнить меня на этом устройстве (в разработке)</a></li>
                            <li class="divider"></li>
                            <li role="presentation" class="dropdown-header">Заявки и жалобы</li>
                            <li><a href="#">Подать заявку на разбан</a></li>
                            <li><a href="/user/requestAdminRights">Подать заявку на админку</a></li>
                            <li><a href="#">Подать заявку на новые карты</a></li>
                            <li><a href="#">Подать жалобу на администратора</a></li>
                            <li><a href="#">Подать жалобу на игрока</a></li>
                            <li class="divider"></li>
                            <li role="presentation" class="dropdown-header">В рассмотрении</li>
                            <li><a href="#">0 жалоб</a></li>
                            {# TODO fix lang problems for numbers like 1,2,3,4 ....#}
                            <li><a href="#">{{ user.adminRequestTotally }} открытых заявок</a></li>
                        </ul>
                    </li>
                {% endif %}
                {# Admin panel #}
                {% if (user.role is constant("\\WebApp\\Entity\\User::ADMIN") or user.role is constant("\\WebApp\\Entity\\User::SUPERADMIN") ) %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Админка <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation" class="dropdown-header">Заявки</li>
                        <li><a href="#">Заявки на админку</a></li>
                        <li><a href="#">Заявки на разбан</a></li>
                        <li><a href="#">Заявки на новые карты</a></li>
                        <li class="divider"></li>
                        <li role="presentation" class="dropdown-header">Жалобы</li>
                        <li><a href="#">Жалобы на игроков</a></li>
                        <li><a href="#">Жалобы на админов</a></li>
                    </ul>
                </li>
                {% endif %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> F.A.Q. <span
                                class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/faq/server">О сервере</a></li>
                        <li><a href="/faq/rules">Правила сервера</a></li>
                        <li><a href="/faq/unban">Как подать заявку на разбан</a></li>
                        <li><a href="/faq/copyright">Для правообладателей</a></li>
                    </ul>
                </li>
            </ul>

            {% if user.name %}
                <form class="navbar-form navbar-right" action="/logout" method="get" role="signout">
                    <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-log-out"
                                                                       aria-hidden="true"></span> Выход
                    </button>
                </form>
            {% else %}
                <form class="navbar-form navbar-right" action="/login" method="get" role="signout">
                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-log-in"
                                                                        aria-hidden="true"></span> Вход
                    </button>
                </form>
            {% endif %}

        </div>

    </div>
</nav>