{% if app.user %}
    <div class="avatar confirmed">
        {% if app.user.avatarURL %}
            <img class="avatar" src="{{ app.user.avatarURL }}"/>
        {% else %}
            <button>Setup avatar!</button>
        {% endif %}
    </div>
    <div class="serverRank"><img src="/images/mg.png" /></div>
    <div class="name">{{ app.user.name }}</div>
    <div class="otherSiteLinks">
        {% if app.user.steam %}
            <span><img src="/images/steam.png" /></span>
        {% endif %}
        {% if app.user.skype %}
            <span><img src="/images/skype.png" /></span>
        {% endif %}
        {% if app.user.twitch %}
            <span><img src="/images/twitch.png" /></span>
        {% endif %}

    </div>
    <div id="logout"><a href="/logout">logout</a></div>
{% else %}
    <div><a href="/login">Login</a></div>
{% endif %}
